@use '../../styles/variables';

.tag {
  height: 32px;
  padding: 4px 16px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  svg {
    margin-right: 5px;
  }

  &__ios {
    background-color: variables.$ios-tag-background-color;
    color: variables.$ios-tag-text-color;
  }

  &__android {
    background-color: variables.$android-tag-background-color;
    color: variables.$android-tag-text-color;
  }

  &__node {
    background-color: variables.$node-tag-background-color;
    color: variables.$node-tag-text-color;
  }

  &__rails {
    background-color: variables.$rails-tag-background-color;
    color: variables.$rails-tag-text-color;
  }

  &__react {
    background-color: variables.$react-tag-background-color;
    color: variables.$react-tag-text-color;
  }

  &__on-time {
    background-color: variables.$tertiary-background-color;
  }

  &__almost-late {
    background-color: variables.$almost-late-tag-background-color;
    color: variables.$almost-late-tag-text-color;
  }

  &__late {
    background-color: variables.$late-tag-background-color;
    color: variables.$late-tag-text-color;
  }
}