@use '../../styles/variables';

.task-card {
  width: 348px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: variables.$secondary-background-color;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 0.6rem;

  &__menu {
    position: relative;
  }

  &__submenu {
    position: absolute;
    right: 0;
    width: 90px;
    padding: 10px;
    border-radius: 8px;
    background-color: variables.$secondary-background-color;
    border: 1px solid variables.$secondary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    > button {
      width: 100%;
      color: variables.$primary-text-color;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 10px;
      border-radius: 4px;

      &:first-of-type {
        margin-bottom: 5px;
      }

      &:hover {
        background-color: variables.$primary-background-color;
      }

      > svg {
        margin-right: 10px;
      }
    }

    &--open {
      display: block;
    }
    &--hidden {
      display: none;
    }
  }

  &__header,
  &__time-details {
    justify-content: space-between;
  }

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__tags-list {
    > div {
      margin-right: 0.5rem;
    }
  }

  &__footer {
    justify-content: space-between;
  }
}

.user-photo {
  img {
    border-radius: 50%;
  }
}

.menu-toggler {
  background-color: transparent;
  border: none;
  color: variables.$secondary-text-color;
  cursor: pointer;
}

.icons-box {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  > div > span > svg {
    margin-left: 5px;
    margin-right: 12px;
  }
}
