$primary-background-color: #212528;
$secondary-background-color: #2c2f33;
$tertiary-background-color: #94979A1A;
$primary-text-color: #ffffff;
$secondary-text-color: #8d9093;
$accent-color: #da584b;
$ios-tag-background-color: #333c36;
$ios-tag-text-color: #68a34e;
$android-tag-background-color: #3f3c36;
$android-tag-text-color: #daac52;
$delayed-tag-text-color: #3d3335;
$delayed-tag-background-color: #cf5648;
$nav-item-gradient-first-color: rgb(45, 48, 52, 0);
$nav-item-gradient-second-color: rgb(218, 85, 73, 0.1);
